@using WebApp.Models
@model Inventario
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ingresear un Automovil</h1>
<form method= "post" asp-action="Create">
<label>Marca</label>
    <input asp-for="Marca"/>
    <br/>
    <label>Unidades</label>
    <input asp-for="Unidades"/>
    <br/>
    <label>Modelo</label>
    <input asp-for="Modelo"/>
    <br/>
    <label>Color</label>
    <input asp-for="Color"/>
    <br/>
    <label>Estado</label>
    <input asp-for="Estado"/>
    <br/>
    <label>Precio_por_unidad</label>
    <input asp-for="Precio_por_unidad"/>
    <br/>
    <input type="submit" value="Crear"/>
</form>

