@using WebApp.Models
@model RolPago 
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Rol de Pagos</h1>
<form method="post" asp-action="Edit">

    <input asp-for="Id" type= "hidden"/>
    <br/>
    <label>Cliente</label>
    <input asp-for="Cliente"/>
    <label>Cargo</label>
    <input asp-for="Cargo"/>
    <label>Sueldo</label>
    <input asp-for="Sueldo"/>
    <label>Horas extra</label>
    <input asp-for="Horas_extra"/>
    <label>Comision</label>
    <input asp-for="Comision"/>
    <label>Aporte IEES</label>
    <input asp-for="AporteIEES"/>
    <label>Anticipos</label>
    <input asp-for="Anticipos"/>
    <label>Total</label>
    <input asp-for="Total"/>
   

    <input type="submit" value="Grabar"/>
</form>
